{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 0.3%", 
                        "ie >=8",
                        "opera > 40",
                        "firefox > 40"
                    ]
                },
                "corejs": 3,
                "useBuiltIns": "usage"
            }
        ]
    ],

    "plugins": ["@babel/plugin-proposal-class-properties"]
}