body{
    margin: 0;
    padding: 0;
    background-color: rgb(56, 94, 129);
}

.game-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 600px;
    height: 660px;
    margin: 0 auto;
    background-color: rgb(147, 161, 173);
    &__game-field{
        width: 100%;
        display: block;
        background-color: rgb(98, 127, 151);
    }
}
