body{
    margin: 0;
    padding: 0;
    background-color: #1F293C;
}

.controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    div{
        position: absolute;
        transition: all .2s ease-in-out;
    }
    &__left{
        width: 50vw;
        height: 50vh;
        top: 25vh;
        left: 0;
        right: auto;
        background-color: #fff;
        opacity: 0;
    }
    &__top{
        width: 100vw;
        height: 25%;
        top: 0;
        left: 0;
        bottom: auto;
        background-color: #fff;
        opacity: 0;
    }
    &__bottom{
        width: 100vw;
        height: 25%;
        top: auto;
        left: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0;
    }
    &__right{
        width: 50vw;
        height: 50vh;
        top: 25vh;
        right: 0;
        left: auto;
        background-color: #fff;
        opacity: 0;
    }
    div:active{
        opacity: 0.2;
    }
}

.field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 600px;
    height: 660px;
    margin: 0 auto;
    background-color: #2a3953;
    &__canvas{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2a3953;
    }
}

@media screen and (max-height: 661px) and (orientation: landscape){
    .controls{
        display: block;
    }
    .field{
        width: auto;
        height: 100%;
        &__canvas{
            width: auto;
        }
    }
}

@media screen and (max-width: 992px) and (orientation: portrait){
    .controls{
        display: block;
    }
    .field{
        width: 100%;
        height: auto;
        &__canvas{
            width: 100%;
            height: auto;
        }
    }
}

